@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F9FAFB;
    /* Gray 50 */
    --foreground: #111827;
    /* Gray 900 */
    --card: #ffffff;
    --card-foreground: #111827;
    --popover: #ffffff;
    --popover-foreground: #111827;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: #f3f4f6;
    /* Gray 100 */
    --muted-foreground: #6b7280;
    /* Gray 500 */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;

    /* Custom PulsAI Colors */
    --color-pulsai-blue: #3590E3;
    /*--color-pulsai-green: #BAF09D; difficile à lire sur un fond blanc*/
    --color-pulsai-green: #22C55E;
    --color-pulsai-gray-dark: #1F2937;
  }

  .dark {
    --background: #0f172a;
    /* Slate 900 */
    --foreground: #f8fafc;
    /* Slate 50 */
    --card: #1e293b;
    /* Slate 800 */
    --card-foreground: #f8fafc;
    --popover: #1e293b;
    --popover-foreground: #f8fafc;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: #1e293b;
    /* Slate 800 */
    --muted-foreground: #94a3b8;
    /* Slate 400 */
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300 antialiased;
  }
}