@import "tailwindcss";

@theme {
  /* Couleurs PulsAI */
  --color-pulsai-blue: #3590E3;
  --color-pulsai-green: #BAF09D;
  --color-pulsai-gray-light: #F9FAFB;
  --color-pulsai-gray-dark: #1F2937;

  /* Police */
  --font-sans: "Ubuntu", ui-sans-serif, system-ui;
}

/* effet de lissage pour les polices */
body {
  @apply antialiased text-pulsai-gray-dark bg-white;
}